footer {
  background: rgba(0, 16, 61, 0.06);
  .footer {
    .footer-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 30px 0 10px;
      .footer-top__links {
        display: flex;
        align-items: center;
        gap: 24px;
      }
    }
    .footer-line {
      margin-bottom: 16px;
      border: 1px solid #919399;
      opacity: 0.5;
    }
    .footer-middle {
      display: flex;
      justify-content: space-between;
      padding-bottom: 30px;
      // gap: 30px;
      // align-items: center;
      .footer__product {
        h4 {
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 28px;
          color: #2c2d2e;
          padding-bottom: 24px;
        }
        span {
          display: inline-block;
          padding-bottom: 12px;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: #2c2d2e;
        }
      }
      .footer__tel {
        .footer__tel-top {
          padding-top: 3px;
          padding-bottom: 16px;
          h6 {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #ef7c00;
          }
          span {
            display: inline-block;
            padding-bottom: 8px;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 20px;
            color: #2c2d2e;
          }
        }
        .footer__tel-bottom {
          h6 {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #ef7c00;
          }
          span {
            display: inline-block;
            padding-bottom: 8px;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 20px;
            color: #2c2d2e;
          }
        }
      }
      .footer__phone {
        .footer__phone-top {
          padding-top: 3px;
          padding-bottom: 52px;
          h6 {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #ef7c00;
          }
          span {
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 20px;
            color: #2c2d2e;
          }
        }
        .footer__phone-bottom {
          h6 {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #ef7c00;
          }
          span {
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 20px;
            color: #2c2d2e;
          }
        }
      }
    }
    .footer-bottom {
      padding-bottom: 30px;
      p {
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 13px;
        color: #919399;
        margin-bottom: 0 !important;
      }
    }
  }
}

.scroll-to-top {
  background-color: black !important;
  border-radius: 50% !important;
  transition: 0.5s ease-in-out;
}

@media (max-width: 700px) {
  .footer {
    .footer-middle {
      display: grid !important;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: 540px) {
  .footer {
    .footer-middle {
      display: grid !important;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 375px) {
  .footer {
    .footer-middle {
      display: grid !important;
      grid-template-columns: 1fr;
    }
  }
}